@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #0b0909;
}
body {
    background: url('../imagens/11721891.jpg') no-repeat center center fixed;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-color: #941f1f;
    background: url('../imagens/frame-iphone.png') no-repeat;
}
iframe#tela {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 475px;
    width: 269px;
   
}